/* Footer section */
.footer {
    background-color: #cc1a1a;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 60px;
    flex-wrap: wrap; /* important */
    height: auto;    /* remove fixed height */
}

/* Copyright section */
.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid rgba(255,255,255,0.4);
    padding-top: 20px;
    font-size: 14px;
}



.footer-box h3 {
    margin-bottom: 10px;
    font-size: 30px;
    /* border: 1px solid white; */
}

.footer-box h1{
    font-size: 28px;
    margin-top: 30px;
    font-style:italic;
}

.footer-box img{
    padding-top: 0;
    width: 45%;
    border: 1px solid white;
}

.footer-box a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer .socials {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    padding-left: 20px;
}

.footer .socials i {
    font-size: 22px;
    color: white;
}
