/* shared style */
.logo img{
    border: 1px solid white;
}

.color_red
{
    color: #cc1a1a;
    font-weight: 900;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* border: 1px solid black; */
    background-color: #fc9c9c96;
    height: 140px;
}

nav .nav{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    /* border: 1px solid black; */
}

nav .nav a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}


nav .nav li{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    background-color: #cc1a1a;
}

nav .nav li:hover{
    color: #cc1a1a;
    background-color: #ffffffec;
    border: 1px solid #cc1a1a;
    border: none;
    border-radius: 20px;
    padding: 20px;
}

nav .nav li:hover a {
    color: #cc1a1a;
}

nav .logo img{
    width: 45%;   
}